.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 4em;
  /* padding: 2em; */
  color: white;
}

.App-intro {
  font-size: large;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header-logo {
  margin-top: 1em;
  margin-left: 1em;
  height: 1.4em;
}

.Site-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.project-menu {
  float: left;
  margin-top: .4em;
  margin-left: .2em;
}

.right-user-menu {
  margin-left: auto;
  padding-right: 1em;
  padding-top: .2em;
}

.left-hand-menu-cluster {
  display: flex;
  flex-direction: row;
  padding-top: .4em;
  padding-left: .5em;
  padding-right: .5em;
  /* height: 100%; */
  background: linear-gradient( to right, lightgray, #222);
}

.project-menu-launcher {
  margin-top: .5em;
}

footer {
  font-size: smaller;
  color: dimgray;
}

.stepper-page {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.stepper-details {
  background: lightgray;
  padding: 1em;
}

.field-and-unit {
  
}

.main-pane {
  display: flex;
  flex: 1;
}

.main-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.main-column .left-column {
  flex: 1;
}

.main-column .right-column {
  flex: 1;
}

.column-divider {
  width: 1px;
  margin: 6px 0;
  background: dimgray;
}

.tagline {
  color: dimgray;
  margin-top: 1.2em;
}