.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 4em;
  /* padding: 2em; */
  color: white;
}

.App-intro {
  font-size: large;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.project-menu {
  padding-left: 15em;
  width: .5em;
  height: .5em;
}

.right-user-menu {
  margin-left: auto;
  padding-right: 1em;
  padding-top: .2em;
}

.left-hand-menu-cluster {
  padding-top: .4em;
  padding-left: .5em;
  padding-right: .5em;
  /* height: 100%; */
  background: linear-gradient( to right, lightgray, #222);
}

footer {
  font-size: smaller;
}