.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  height: 3em;
  padding: 2em;
  color: white;
}

.App-intro {
  font-size: large;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left-header-menu {
  align-self: flex-start;
}

.right-user-menu {
  margin-left: auto;
}